.event-group-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 42px;
    column-gap: 25px;
    flex-wrap: wrap;
    max-width: 995px;
    background-color: #F6F6F6;
    min-width: 656px;
}